<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rangkumin GPT</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="flex flex-col items-center">
      <h1 class="text-4xl font-bold mb-8">Rangkumin GPT</h1>
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <form action="/" method="POST">
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="prompt"
            >
              Enter your prompt
            </label>
            <textarea
              id="myTextarea"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              rows="5"
              cols="70"
              placeholder="Type your prompt here"
              name="prompt"
              required
            ></textarea>
            <div>Word count: <span id="wordCount">0</span>/500</div>
          </div>
          <div class="text-center">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Generate
            </button>
          </div>
        </form>
        {% if result %}
        <div class="text-center font-bold max-w-xl mx-auto p-3">
          <p>{{ result }}</p>
        </div>
        {% endif %} {% if error %}
        <div class="text-center max-w-xl mx-auto p-3">
          <p>{{ error }}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
  <script>
    var textarea = document.getElementById("myTextarea");
    var counter = document.getElementById("wordCount");

    textarea.addEventListener("input", function () {
      var words = textarea.value.trim().split(/\s+/);
      counter.textContent = words.length;

      if (words.length > 40) {
        textarea.value = words.slice(0, 40).join(" ");
        counter.textContent = "40";
      }
    });
  </script>
</html>
